n8n-workflows/analyze-repo.workflow.json
{
  "name": "APK Builder - Analisar Repositório GitHub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-apk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "analyze-apk"
    },
    {
      "parameters": {
        "jsCode": "// Extrai owner e repo da URL do GitHub\nconst repoUrl = $input.first().json.body.repoUrl || '';\nconst match = repoUrl.match(/github\\.com\\/([^\\/]+)\\/([^\\/]+)/);\nif (!match) throw new Error('URL do GitHub inválida');\nconst [, owner, repo] = match;\nreturn [{ json: { owner, repo: repo.replace('.git', ''), repoUrl } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Extrair owner e repo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/app/src/main/AndroidManifest.xml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "APKBuilder-n8n" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Buscar AndroidManifest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Extrair owner e repo').item.json.owner }}/{{ $('Extrair owner e repo').item.json.repo }}/contents/app/build.gradle",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "APKBuilder-n8n" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Buscar build.gradle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Decodifica os arquivos de base64 e monta o contexto\nconst manifestItem = $('Buscar AndroidManifest').first();\nconst gradleItem = $('Buscar build.gradle').first();\n\nlet manifestContent = 'Não encontrado';\nlet gradleContent = 'Não encontrado';\n\ntry {\n  if (manifestItem?.json?.content) {\n    manifestContent = Buffer.from(manifestItem.json.content, 'base64').toString('utf-8');\n  }\n} catch(e) {}\n\ntry {\n  if (gradleItem?.json?.content) {\n    gradleContent = Buffer.from(gradleItem.json.content, 'base64').toString('utf-8');\n  }\n} catch(e) {}\n\nconst repoUrl = $('Extrair owner e repo').first().json.repoUrl;\n\nconst content = `Repositório: ${repoUrl}\n\n=== AndroidManifest.xml ===\n${manifestContent}\n\n=== app/build.gradle ===\n${gradleContent}`;\n\nreturn [{ json: { content } }];"
      },
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Montar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ content: $json.content }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-0006-0006-0006-000000000006",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Extrair owner e repo", "type": "main", "index": 0 }]
      ]
    },
    "Extrair owner e repo": {
      "main": [
        [
          { "node": "Buscar AndroidManifest", "type": "main", "index": 0 },
          { "node": "Buscar build.gradle", "type": "main", "index": 0 }
        ]
      ]
    },
    "Buscar AndroidManifest": {
      "main": [
        [{ "node": "Montar contexto", "type": "main", "index": 0 }]
      ]
    },
    "Buscar build.gradle": {
      "main": [
        [{ "node": "Montar contexto", "type": "main", "index": 0 }]
      ]
    },
    "Montar contexto": {
      "main": [
        [{ "node": "Responder", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "apkbuilder"
  },
  "id": "workflow-analyze-apk",
  "tags": ["apk", "gemini", "analise"]
}
