n8n-workflows/analyze-repo.workflow.json
{
  "name": "APK Builder - Analisar Repositório com Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-apk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "32a5688d-87ef-40d0-917b-d5e259b657fe",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-160, -448],
      "webhookId": "analyze-apk"
    },
    {
      "parameters": {
        "jsCode": "const repoUrl = $input.first().json.body.repoUrl || '';\nconst apkInfo = $input.first().json.body.apkInfo || '';\n\nif (!repoUrl && !apkInfo) throw new Error('Forneça repositório ou APK');\n\nlet owner = '', repo = '';\nif (repoUrl) {\n  const match = repoUrl.match(/github\\.com\\/([^\\/]+)\\/([^\\/]+)/);\n  if (match) { owner = match[1]; repo = match[2].replace('.git', ''); }\n}\n\nreturn [{ json: { owner, repo, repoUrl, apkInfo } }];"
      },
      "id": "301cbc09-c1c7-45f8-b83d-bc4079c91ddf",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [64, -448]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/app/src/main/AndroidManifest.xml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "APKBuilder-n8n" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "02ab36d7-31b0-45d6-ae29-4d55fab0da63",
      "name": "Buscar AndroidManifest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [288, -448],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Extrair dados').item.json.owner }}/{{ $('Extrair dados').item.json.repo }}/contents/app/build.gradle",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "APKBuilder-n8n" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "84018cc7-6714-4651-8f7f-f223b7b259fe",
      "name": "Buscar build.gradle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [512, -448],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Extrair dados').first().json;\n\nlet manifestContent = 'Não encontrado';\nlet gradleContent = 'Não encontrado';\n\ntry {\n  const manifestJson = $('Buscar AndroidManifest').first()?.json;\n  if (manifestJson?.content) {\n    manifestContent = Buffer.from(manifestJson.content, 'base64').toString('utf-8');\n  }\n} catch(e) {}\n\ntry {\n  const gradleJson = $input.first()?.json;\n  if (gradleJson?.content) {\n    gradleContent = Buffer.from(gradleJson.content, 'base64').toString('utf-8');\n  }\n} catch(e) {}\n\nconst prompt = `Você é um especialista em Android e Google Play Store.\nAnalise o projeto e retorne APENAS um JSON válido com esta estrutura exata:\n{\n  \"score\": <número 0-100>,\n  \"summary\": \"<resumo em 1-2 frases>\",\n  \"suggestions\": [\n    {\n      \"category\": \"<Segurança|UI/UX|Performance|Privacidade|Acessibilidade|Manifesto|Target SDK>\",\n      \"severity\": \"<critical|warning|info>\",\n      \"title\": \"<título curto>\",\n      \"description\": \"<descrição do problema>\",\n      \"fix\": \"<como corrigir>\"\n    }\n  ]\n}\n\nAvalie: targetSdkVersion (deve ser >= 34), permissões desnecessárias, política de privacidade, ícones adaptativos, ProGuard/R8, assinatura APK, APIs obsoletas, acessibilidade.\n\nRepositório: ${base.repoUrl}\n${base.apkInfo ? 'APK: ' + base.apkInfo : ''}\n\n=== AndroidManifest.xml ===\n${manifestContent}\n\n=== app/build.gradle ===\n${gradleContent}`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "27d3f6a5-555e-4c72-ba52-eb4b43700345",
      "name": "Montar prompt Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, -448]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=COLOQUE_SUA_GEMINI_KEY_AQUI",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "gemini-call-node-001",
      "name": "Chamar Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, -448]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) throw new Error('Gemini não retornou JSON válido: ' + text.substring(0, 200));\n\nconst parsed = JSON.parse(jsonMatch[0]);\nreturn [{ json: parsed }];"
      },
      "id": "parse-gemini-node-001",
      "name": "Parsear resposta Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1184, -448]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "0f83de7e-887c-42e4-83cf-3da032786d89",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1408, -448]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extrair dados", "type": "main", "index": 0 }]]
    },
    "Extrair dados": {
      "main": [[{ "node": "Buscar AndroidManifest", "type": "main", "index": 0 }]]
    },
    "Buscar AndroidManifest": {
      "main": [[{ "node": "Buscar build.gradle", "type": "main", "index": 0 }]]
    },
    "Buscar build.gradle": {
      "main": [[{ "node": "Montar prompt Gemini", "type": "main", "index": 0 }]]
    },
    "Montar prompt Gemini": {
      "main": [[{ "node": "Chamar Gemini", "type": "main", "index": 0 }]]
    },
    "Chamar Gemini": {
      "main": [[{ "node": "Parsear resposta Gemini", "type": "main", "index": 0 }]]
    },
    "Parsear resposta Gemini": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "d117ea45bc33fa797e2742ccb51a9a9f1db4eaa28394d14f826234ab966c2c84" }
}
